body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0px;
  padding: 0;
}

header h1 {
  margin: 15px 0px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  padding: 0px 15px;
}

header nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}

header div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header div ul li {
  display: inline-block;
  padding: 0px 15px;
}

header div ul li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

header form {
  width: 350px;
  height: 45px;
  background-color: lightgray;
  display: flex;

}

#input-field {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}

#submit-btn {
  background: gray;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

form ion-icon {
  align-self: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

#hero {
  background-image: url("images/herosection.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px;
}

#hero h1 {
  margin: 0;
  color: antiquewhite;
  font-size: 80px;
  font-weight: normal;
  text-align: center;
}

#fifty-off {
  font-size: 120px;
  font-weight: bold;
}

#hero-btns {
  display: flex;
  justify-content: space-evenly;
  padding-top: 70px;
}

#hero-btns button {
  background-color: white;
  border: none;
  color: purple;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}

#product-section h1 {
  font-size: 48px;
  text-align: center;
}

#product-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 50px 240px;
}

.products {
  border: 3px solid purple;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}

.img-div {
  padding: 10px;
}

.product-image {
  width: 100%;
  aspect-ratio: 1 /1 ;
  object-fit: contain;
}

.product-info {
  margin: 5px 0px;
}

.product-info > * {
  margin: 10px 0px;
}

.category-and-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p ion-icon {
  color: gold;
}

/*.products {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

.product-image {
  justify-self: center;
  height: 12rem;
  width: auto;
}*/